# IDE
.vs/
*.user
*.suo
*.sln.docstates

# Build
bin/
obj/
*.exe
*.dll
*.pdb

# NuGet
packages/
*.nupkg

# VS Code
.vscode/

# JetBrains Rider
.idea/
*.sln.iml

# OS
.DS_Store
Thumbs.db

# .dat files
*.dat

# data files json
highscores.json
stats.json

# Plan
ProjectList.md
Plan_Template_Proyects.md